@media (min-width:1024px){
    *{
        box-sizing: border-box;
    }
    html, body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   .container{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1.4fr 1fr;
        grid-auto-rows: 29.5vh 70vh;
        grid-gap: 5px;
        grid-template-areas: "l h"
                            " t h";
    }
   .logo {
       grid-area: l;
       justify-self: center;
       width: 50%;

       /*
        grid-column: 1/2;
        grid-row: 1/1;
        padding: 0;*/

    }
    .logo img{
        width: 30%;
        
    }

    /*Foto */
    .hero{
        grid-area: h;
        /*
        grid-column: 2/3 ;
        grid-row: 1 / 3;*/
       
    }
    .hero >img{
        width: 100%;
        height: 100%;
    }
    .text {
        grid-area: t;
        justify-self: center;
        width: 60%;
        height: 90%;
        text-align: left;
        margin: 0;
    }

    .text h1{
        text-align: left;
        font-size: 4.5rem;
    }

    /*Botão*/
    .botao{
        width: 25em; 
    }


    /*Campo de busca */
    #campo_busca{
        width: 27em;    
    }
 

    .enviar{
        border-radius: 30em;
        background-color: hsl(0, 80%, 86%) ;
        width: 8em;    
        border: none;
    }
    

}

