@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height:100%;
}
#man-wapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.logo {
    display: block;
    width: 7em;
    padding:2em;
    
}
.logo >img{
    width: 100%;
    height: 100%;
}
.hero >img{
    width: 100%;
    height: 100%;
}

.text>h1{
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing:9px;
    text-align: center;
    color: hsl(0, 6%, 24%);
    font: optional;
    margin-bottom: 0;
}
.text>p{
    text-align: center;
    align-items: center;
    color:  hsl(0, 36%, 70%);
    padding-right: 1.5em;
    padding-left: 1.5em;
}   


.botao{
    display: flex;
    flex-direction: row-reverse;
}
.botao{
    display: flex;
    justify-content: center;
}

#campo_busca{
    border: 1px solid hsl(0, 80%, 86%);
    border-radius: 5em;
    width: 12em; 
    height: 3em;
    color: hsl(0, 80%, 86%);
    margin: 1em;
    text-align: center;
}

#campo_busca{
    flex: 1;
   margin: 0; 
}
.buscar_produto{
    border-radius: 30em;
    background-color: hsl(0, 80%, 86%) ;
    width: 5em;  
    height: 3em;  
    border: none;
    margin: 0;
    flex: 2;
}

.buscar_produto{
    border-radius: 45%;
    background-color: hsl(0, 80%, 86%) ;
    width: 5em;  
    height: 4em;  
    border: none;
   
}
.buscar_produto:hover{
    background-color: hsl(0, 74%, 74%);
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution{
    display: none;
}

@media (max-width: 1000px) {

}