@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root{
    --Desaturated-Red :hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
}
*{
    font-family: 'Josefin Sans', sans-serif;

}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: overlay;
}
#man-wapper {
    max-width: 100%;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Logo tipo */
.logo {
    display: block;
    text-align: left;
}
.logo img{
    width: 30%;
}
/*Texto */

.textos {
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    text-align: left;   
}
.text {
    margin-top: 8%;
    margin-bottom: 5%;
}

.text>h1{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing:20px;
    text-align: center;
    color: hsl(0, 6%, 24%);
    font: optional;
    margin-bottom: 0;
}

.text>p{
    align-items: center;
    color:  hsl(0, 36%, 70%);
    padding-right: 1.5em;
    padding-left: 1.5em;
}   


/*Botão*/


.zoon-info {
    display: inline-block;
    position: relative;
  }
  .zoon-info *{
    width:100%;
    margin: 0;
  }
  /*affeter serve para adicionar elementos depois dos elementos visiveis
  */
  .zoon-info:after {
    content: "+";
    color: #fff;
    font-size:30px;
    text-align: center;
    font-weight: 600;
  
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.6);
  
    display: none;
  
    cursor: pointer;
  }
  .zoon-info:hover:after{
    display: block;
    
  }


.botao{
    display: flex;
    width: 19rem;
    justify-content: space-between;
    text-align: right;
    border: 1px solid hsl(0, 80%, 86%);
    border-radius: 5em;
    color: hsl(0, 80%, 86%);
    margin: auto;
}

/*Foto */
.hero {
    width: 100%;
    overflow: hidden;
}
.hero >img{
    width: 100%;
    height: 100%;
}


#campo_busca{
    border: 1px solid transparent;
    border-radius: 5em;
    width: 19em; 
    padding-left: 12px;
    outline: none;
    
}

.enviar{
    display:block;
    border-radius: 30em;
    width: 8em; 
    height: 4em;  
    text-align:center;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: var(--Soft-Red);
}
.enviar:hover{
    transform:scale(1.2);
    box-shadow: 3px 3px 3px 3px   hsl(0, 74%, 74%);
}
.buscar_produto{
    border-radius: 45%;
    background-color: hsl(0, 80%, 86%) ;
    width: 5em;  
    height: 4em;  
    border: none;
   
}

/*Footer*/
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution{
    display: none;
}








