@media (min-width:1024px) {
  #man-wapper {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a a b"
    "c c b";
    margin:auto;
  }
  .col-a {/*logo*/
    grid-area: a;

  }
  .col-b {/*foto*/
    grid-area: b;
  }
  .col-c {
    grid-area: c;
  }

}

